beautifulsoup4==4.5.1
click==6.6
csscompressor==0.9.4
defusedxml==0.4.1
Django==1.10.2
django-allauth==0.27.0
django-appconf==1.0.2
django-ckeditor==5.1.0
django-compressor==2.1
django-debug-toolbar==1.5
django-haystack==2.5.0
django-imagekit==3.3
django-summernote==0.8.5
django-taggit==0.21.3
gevent==1.1.1
greenlet==0.4.10
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
msgpack-python==0.4.8
oauthlib==2.0.0
pilkit==1.1.13
Pillow==3.3.1
ply==3.9
pytz==2016.6.1
rcssmin==1.0.6
requests==2.11.1
requests-oauthlib==0.7.0
rjsmin==1.0.12
six==1.10.0
slimit==0.8.1
sqlparse==0.2.1
webencodings==0.5
Werkzeug==0.11.10
