click==6.6
Django==1.10
django-appconf==1.0.2
django-ckeditor==5.1.0
django-el-pagination==3.0.1
django-imagekit==3.3
django-taggit==0.21.1
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
msgpack-python==0.4.8
pilkit==1.1.13
Pillow==3.3.1
pytz==2016.6.1
requests==2.11.1
six==1.10.0
Werkzeug==0.11.10
