{% block content %}
<div id="one-col" style="display: none;"></div>

{% if user.is_authenticated %}
  <h1>Вы уже залогинены</h1>
  <p>
    можете <a href="{% url 'logout' %}?next={{ request.path }}">выйти</a>
  </p>

{% else %}

<h1>Войти</h1>
<p class="label">
  Введите Email и пароль
</p>

<div>
  <form action="{% url 'login' %}" method="post" id="loginform">
    <!-- label[for="id_username"] { color: red } -->
 <input type="hidden" name="next" value="{{ next }}" />

    <div class="input-field">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="input-field">
    {{ form.password.label_tag }}
    {{ form.password }}
    </div>

    {% csrf_token %}
    <p>
      <input type="submit" value="Login"
      class="default waves-effect waves-light btn"/>
    </p>
  </form>
  <p>Если вы забыли пароль то можете его
    <a href="{% url 'password_reset' %}" rel="modal:open">сбросить</a></p>
</div>
{% endif %}

{% endblock %}
