<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    Исправьте ошибки выше
    </p>
{% endif %}

<p>Введите свой текущий пароль</p>

<fieldset class="module aligned wide">

<div class="form-row input-field">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>


<p>
  <ul>
    <li>Придумайте сложный пароль, не совпадающий с персональной информацией и содержащий спец. символы.</li>
  </ul>
</p>

<div class="form-row input-field">
    {{ form.new_password1.errors }}

	{{ form.new_password1.label_tag }} {{ form.new_password1 }}
</div>

<div class="form-row input-field">
{{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <p class="help">{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Сменить пароль"
    class="default waves-effect waves-light btn" />
</div>

</div>
</form></div>
