{% extends 'index.html' %}

{% block title %}Sign-up{% endblock %}

{% block content %}

<div>
  <form action="{% url 'signup' %}" method="post">
    <!-- label[for="id_username"] { color: red } -->

    <div>
      <label for="username">Username</label>{{ form.username }}
    </div>
    <div>
    <label for="email">Email</label>{{ form.email }}
    </div>
    <div>
    <label for="password1">Password</label>{{ form.password1 }}
    </div>
    <div>
    <label for="password2">Repeat password</label>{{ form.password2 }}
    </div>

    {% csrf_token %}
    <p>
      <input type="submit" value="Signup" />
    </p>
  </form>
</div>

{% endblock %}
