{% load thumbnail %}

<div class="row post_header">

  <div class="col-md-3 pull-left">
    <div class="post-author">

      <div class="author">
        <p>{{ post.author }}</p>
        {% if post.author.avatar %}

      {% thumbnail post.author.avatar "70x70" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
          class="img-responsive">
      {% endthumbnail %}

        {% else %}
        <img src="/static/img/avatar.jpg" class ="img-avatar"/>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-6">
    <div class="post_category">
      <p>
        Category: <a href="/cat/{{ post.category.slug }}/"
          class="post-category ajax-menu"
          url = "{{ post.category.slug }}" cat >
           {{ post.category }}</a>
      </p>

      {% if post.get_tags_list %}<p>
        Tags:
        {% for tag in post.get_tags_list %}
        <a href="/{{ tag.url }}" class="ajax-menu"
        url = "{{ tag.url }}">{{ tag}}</a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>

</div>
