
<div class="row post_header">

  <div class="col-md-3 pull-left">
    <div class="post-author">
      <div class="author-name">
        {{ post.author }}
      </div>
      <div class="author-avatar">
        {% if post.author.avatar %}
        {{ post.author.get_avatar }}
        {% else %}
        <img src="/static/img/avatar.jpg" class ="img-avatar"/>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-6">
    <div class="post_category">
      <p>
        Category: <a href="cat/{{ post.category }}"
          class="post-category ajax-menu"
          url = "cat/{{ post.category }}">
           {{ post.category }}</a>
      </p>

      {% if post.get_tags_list %}<p>
        Tags:
        {% for tag in post.get_tags_list %}
        <a href="/{{ tag.url }}" class="ajax-menu"
        url = "{{ tag.url }}">{{ tag}}</a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>

</div>
