.post-title {
	display: table;
	margin: auto;
}

/* .nav-wrapper {
  background-color: rgba(0, 145, 234, 0.09);
} */

a {
	transition-duration: 0.23s;
}

nav a.user-menu {
  display: inline-block;
}

div.username {
	margin-bottom: -15px;
}

#user-menu {
	margin-right: 7%;
}

.slide-nav {
max-width: 60%;
}

a.post-category {
	font-size: 15px;
	font-weight: 500;
}

.side-nav a:hover, a:hover {
  transition-duration: 0.23s;
	color: #039be5;
}

.user-menu {
	display: inline-block;
}

.tabs .tab {
    margin-left: 5%!important;
    margin-right: 5%!important;
}

.tab a {
color: black;
font-weight: 600!important;
border-bottom: 1px solid #039be5;
}

.tab a:hover {
color: #039be5;
}

.post:after {
    clear: both;
		content: ".";
		display: block;
		height: 0;
}

.gif {
	  left: 0;
}

.sidebar1 a {
	font-weight: 500;
	font-size: 16px;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
		display: block!important;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
}

.chip {
	white-space: nowrap;
	font-size: 15px;
}

.post-image {
	width: 100%;
}

.post-text { padding: 0!important; }

.main {overflow: hidden;}

.top-menu {
	margin-top: 100px;
}

.comment {
	display: block!important;
}

.rating-comment, .comment-date, .comment-rpl-btn {
	display: inline-flex!important;
	margin-left: 5px;
	margin-right: 5px;
}

.btn-small {
	height: 28px!important;
	line-height: 28px!important;
	padding: 0 0.7rem!important;
}

.post-thumbnail {position: relative; }

.rate-icon {
  border-radius: 20px;
}

.rating, .rate-score {
	display: inline-block;
}

ul.tabs {
  overflow: hidden;
}

.rate-icon.rate-up {
  color:#039be5;
	transition:.3s;
}

.rate-icon.rate-up:hover {
  color:green;
}

.rate-icon.rate-down {
  color:#039be5;
	transition:.3s;
}

.rate-icon.rate-down:hover {
  color:red;
}

#load_circle {
	display:none;
}

.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	/*text-indent: -9999px;*/
	position: fixed;
	z-index: 999;
	right: 3em;
	bottom: 3em;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	opacity: 0.4;
}

.back-to-top:hover {
	opacity: 1;
}
