body {
	background-color: rgba(239, 239, 239, 0.44);
}

.side-nav a:hover, a.chip:hover, h2:hover,
h4:hover, a.back-to-top:hover, .tab a:hover,
#user-menu-list > li > a:hover {
	color: #039be5;
}

h2, h2:hover, .sidebar-inner, .sidebar-inner:hover,
a, a:hover, .rate-icon.rate-up, .rate-icon.rate-up:hover,
.rate-icon.rate-down, .rate-icon.rate-down:hover,
.side-nav a, .side-nav a:hover, h3, h3:hover,
h4, h4:hover {
	transition-duration: 0.3s;
}

.link-green {
	color:green!important;
}

.link-red {
	color:red!important;
}

.categories .tab, .pop-tabs .tab, .post.post {
background-color: rgba(250, 250, 250, 1);
}

form.signup {
	padding: 0.1rem 1rem 2rem 1rem;
}

.post {
	margin-bottom: 20px;
}

.sidebar-inner {
	opacity: 0.5;
}

.sidebar-inner:hover {
  opacity: 1;
}

.post-thumbnail-small {
	max-width: 150px;
}

.post-title {
	display: block;
	padding-top: 5px;
	margin-bottom: -25px;
}

.post-footer {
	padding-top: 15px;
}
/* .nav-wrapper {
  background-color: rgba(0, 145, 234, 0.09);
} */

nav a.user-menu {
  display: inline-block;
}

div.username {
	margin-bottom: -15px;
}

#user-menu {
	margin-right: 7%;
}

#user-menu-list > li > a {
 color: black;
}

.slide-nav {
max-width: 60%;
}

a.post-category {
	font-size: 15px;
	font-weight: 500;
}

h2 {
  color: #3e3e3e;
}

.user-menu {
	display: inline-block;
}

.tabs .tab {
    margin-left: 1%!important;
    margin-right: 1%!important;
		width: 5%;
}

.tab.active {
    background-color: rgba(0, 0, 0, 0.15);
}

.tab a {
color: #3e3e3e;
font-weight: 600!important;
margin-top: 1px;
}

.post:after {
    clear: both;
		content: ".";
		display: block;
		height: 0;
}

.gif {
	  left: 0;
}

.sidebar1 a {
	font-weight: 500;
	font-size: 16px;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
		display: block!important;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
}

.chip {
	white-space: nowrap;
	font-size: 15px;
}

.post-image {
	width: 100%;
}

.post-text { padding: 0!important; }

.post-description {
	border-bottom: 1px solid rgba(160,160,160,0.2);
}

.main {overflow: hidden;}

.header1 {
	background-color: #039be5;
  padding-bottom: 1rem!important;
}

.pop-tabs {
	margin-top: 5px!important;
	margin-bottom: 3px!important;
}

.top-menu {
	padding-top: 15px!important;
}

.comment {
	display: block!important;
}

.rating-comment, .comment-date, .comment-rpl-btn {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-flex!important;
}

.comment-bottom {
	display: inline-block!important;
}

.btn-small {
	height: 28px!important;
	line-height: 28px!important;
	padding: 0 0.7rem!important;
}

.post-thumbnail {position: relative; }

#tagBox .twitter-typeahead {
    margin-top: 2rem;
}

.select-wrapper {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.status-post {
	margin-top: 3rem!important;
}

.label {
	margin-bottom: 2rem;
}

.pre-post-header {
  margin-left: 0!important;
}

.rating, .post-date {
	display: inline-flex!important;
}

.rate-icon {
  border-radius: 20px;
}

.rate-score {
	display: inline-block;
}

ul.tabs {
  overflow: hidden;
}

.rate-icon.rate-up, .rate-icon.rate-down {
  color:#039be5;
}

.comment-body {
  border-left: 1px solid rgba(160,160,160,0.2);
}

.comment_extra {
  border-top: 1px solid rgba(160,160,160,0.2);
}

.rating-comment {
	margin-top: 12px;
}

.comment-date {
	margin-top: 12px;
}

@media screen and (min-width: 595px) { /*540 */
	.comment-rpl-btn {
		margin-top: 19px;
	}
}

#load_circle {
	display:none;
}

.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	/*text-indent: -9999px;*/
	position: fixed;
	z-index: 999;
	right: 3em;
	bottom: 3em;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	opacity: 0.4;
}

.back-to-top:hover {
	opacity: 1;
}
