.post-title {
	display: table;
	margin: auto;
}

.main {overflow: hidden;}

.top-menu {
	margin-top: 100px;
}

.comment {
	display: block!important;
}


.post-thumbnail {position: relative; }

.rating, .rate-score {
	display: inline-block;
}

ul.tabs {
  overflow: hidden;
}

.post-thumbnail a {
position: absolute;
top: 0;
display: inline-block;
width: 100%;
height: 100%;
text-align: center;
text-decoration: none;
z-index: 20;}

.post-thumbnail a .play {
position: inherit;
font-size: 64px;
color: blue;
top: 50%;
z-index: 20;
opacity: 0.5;
top: 40%;
left: 45%;
transition: opacity .3s ease-in-out;
}

.post-thumbnail a:hover .play {
	transition: opacity .3s ease-in-out;
  opacity: 0.9;
}

#load_circle {
	display:none;
}

.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	/*text-indent: -9999px;*/
	position: fixed;
	z-index: 999;
	right: 3em;
	bottom: 3em;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
