{% block content %}
<script>processing = true;</script>
<h1>Add post</h1>

<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-row">
  <p>
    {{ form.title.label_tag }} {{ form.title }}
  </p>
</div>


<div class="form-row">
  <p>
    {{ form.post_image.label_tag }}
    <input id="id_post_image" name="post_image" type="file"
    onchange="Preview(this.files[0], 'preview', 300)">
    <p>
      <img id="preview"  />
    </p>
  </p>
</div>


<div class="form-row">
  <p>
    {{ form.category.label_tag }} {{ form.category }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.private.label_tag }} {{ form.private }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.description.label_tag }}
  </p> {{ form.description }}
</div>
<div class="form-row">
  <p>
    {{ form.text.label_tag }}
  </p> {{ form.text|safe }}
</div>

<div class="form-row">
  <p>
    {{ form.tags_new.label_tag }}
  </p> <div data-tags-input-name="tag" id="tagBox"></div>
</div>
<div class="form-row">
<input class="hidden_tags" id="hidden_tags" name="hidden_tags" style=" display: none;">
</div>

<style>
.tt-cursor  {
color: blue!important;
background: rgba(94, 181, 224, 0.96)!important;
cursor: pointer!important;
}

.tt-suggestion {
color: black;
font-family: serif;
font-weight: 600;
font-size: x-large;
background: rgba(94, 181, 224, 0.64);
border-radius: 3px;
text-align: center;
display: block;
}
</style>

<div style="height: 200px"></div>

<input type="submit" value="Add Post" />
</form>

<div style="height: 100px"></div>
<script>
$(document).ready(function(){
	SelectHint();
});



var tagging_options = {
  "no-duplicate": true,
  "no-comma": false,
	"no-duplicate-callback": HideHint,
  "forbidden-chars-callback": null,
	"tag-on-blur": false,
  "no-spacebar": true,
	"case-sensitive": true,
  "close-char": "X",
  "forbidden-chars": [],
	"forbidden-words": [],
};

TagBox = $("#tagBox")
TagBox.tagging( tagging_options);

var taglist = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
  url: '../static/taglist.json',
  cache: false
   }
});

$('.type-zone').typeahead(null, {
  name: 'taglist',
  source: taglist,
  hint: true,
  highlight: true,
  minLength: 2,
  limit: 10
});

TagBox.on( "add:after", function (el, tagging){
HintPos();
CopyTags();
TagBox.tagging( "emptyInput" );
HideHint()
} );

TagBox.on( "remove:after", function (el, tagging){
HintPos();
CopyTags();
} );

$(document).on('click', '.tt-suggestion', function() {
	HideHint()
	TagBox.tagging( "add", $(this).text() );
	TagBox.tagging( "emptyInput" );
});

</script>
{% endblock %}
