{% block content %}
<h1>Add post</h1>

<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-row">
  <p>
    {{ form.title.label_tag }} {{ form.title }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.post_image.label_tag }} {{ form.post_image }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.category.label_tag }} {{ form.category }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.description.label_tag }}
  </p> {{ form.description }}
</div>
<div class="form-row">
  <p>
    {{ form.text.label_tag }}
  </p> {{ form.text|safe }}
</div>
<div class="form-row">
  <p>
    {{ form.tags.label_tag }}
  </p> {{ form.tags }}
</div>

<div class="form-row">
  <p>
    {{ form.tags_new.label_tag }}
  </p> {{ form.tags_new }}
</div>
<div class="form-row">
{{ form.hidden_tags_new }}
</div>

<style>
.tt-menu {
    background: greenyellow;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;}
.tt-suggestion.tt-selectable:hover {
    color:red;
}
</style>
<p>
  r substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('.typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
</p>

<input type="submit" value="Add Post" />
</form>

{% endblock %}
