{% block content %}
<h1>Add post</h1>

<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-row">
  <p>
    {{ form.title.label_tag }} {{ form.title }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.post_image.label_tag }} {{ form.post_image }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.category.label_tag }} {{ form.category }}
  </p>
</div>
<div class="form-row">
  <p>
    {{ form.description.label_tag }}
  </p> {{ form.description }}
</div>
<div class="form-row">
  <p>
    {{ form.text.label_tag }}
  </p> {{ form.text|safe }}
</div>
<div class="form-row">
  <p>
    {{ form.tags.label_tag }}
  </p> {{ form.tags }}
</div>

<div class="form-row">
  <p>
    {{ form.tags_new.label_tag }}
  </p> {{ form.tags_new }}
</div>
<div class="form-row">
{{ form.hidden_tags_new }}
</div>

<style>
.tt-menu {
    background: greenyellow;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;}
.tt-suggestion.tt-selectable:hover {
    color:red;
}
</style>

<div style="height: 200px"></div>

<input type="submit" value="Add Post" />
</form>

<div style="height: 100px"></div>

<script>
var taglist = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 10,
      remote: {
      url: '../static/taglist.json'}
      /* prefetch: {
        url: '../static/taglist.json',
      } */
    });

    taglist.initialize();

    var tagApi = jQuery(".tm-input-typeahead").tagsManager({
	  tagCloseIcon: 'X',
    });
    jQuery(".tm-input-typeahead").typeahead(null, {
      name: 'taglist',
      source: taglist.ttAdapter(),
      //source: substringMatcher('../static/taglist.json'),
      hint: true,
      highlight: true,
      minLength: 2
    }).on('typeahead:selected', function (e, d) {
        tagApi.tagsManager("pushTag", d.name);
		$('.tm-input-typeahead').val("");
    });


	$(document).on('click', '.tt-suggestion', function() {
		tagApi.tagsManager("pushTag", $(this).text());
		$('.tm-input-typeahead').val("");
	});
</script>
{% endblock %}
