{% extends "index.html" %}

{% block content %}

<p class="socket" style="display: none;"></p>

<div id="post-adding" class="center flow-text">
    <p>Пост добавляется, это может занять пару минут...</p>
</div>

<div id="post-added-link" class="center flow-text" style="display: none;">
Пост <span><b><a href="#" class="ajax-menu" url=""
            id="post-link" style="font-size: 2rem;">{{ title }}</a></b></span> добавлен.
</div>

<script>
$('.top-menu').show();
$("#loader").css('top', '50%').css('left', '45%').show();
setTimeout(wsConnect(), 3500);
</script>

{% endblock %}
