{% load mptt_tags %}
{% autoescape off %}

  <div class="card horizontal comment z-depth-2 sample_comment"
    style='
    margin-left:0px; display:none!important;'
    comment_id=0 level="" parent="">
    <div class="row">
      <div class="col s12 m2 l2 comment_user">
        <p class="comment_username center-align">

        </p>

        <p class="comment_user_avatar center-align">
          <img src=""
            class="responsive-img"/>
        </p>

      </div>

      <div class="col s12 m10 l10 card-stacked comment-body">
        <div class="card-content comment_text">

        </div>

        <div class="comment_extra">

        <div class="row">
          <div class="col s4 m4 l4">
          <div class="comment-bottom valign-wrapper">
            <div class="valign rating-comment valign-wrapper" comment="">
              <a href="#" class="rate-icon rate-up" rate="1">
                <i class="small material-icons">
                  thumb_up</i></a>
              <div class="rate-score valign">
                  <p>0</p>
              </div>
              <a href="#" class="rate-icon rate-down" rate="0">
                <i class="small material-icons">thumb_down
                </i></a>
            </div>
            </div>
            </div>
            <div class="col s4 m4 l4">
              <div class="valign comment-date">
              </div>
            </div>

            <div class="col s4 m4 l4">
            <div class="valign comment-rpl-btn">
              <a href ="#" class="btn btn-small reply-btn">
                <span>Ответить</span>
              </a>
            </div>
            </div>
          </div>

          </div>
          </div>
          </div>

          </div>



<ul class="comments">
  {% for comment, structure  in comments|tree_info %}

  {% if structure.new_level %} <ul><li>{% else %}</li><li> {% endif %}

      <div class="card horizontal comment z-depth-2"
        style='
 margin-left:{% widthratio comment.level 1 25 %}px;'
 comment_id={{ comment.id }} level="{{ comment.level }}"
 parent={{ comment.parent.id }}>
        <div class="row">
          <div class="col s12 m2 l2 comment_user">
            <p class="comment_username center-align">
              {{ comment.author.username}}
            </p>
            {% if comment.author.avatar %}
            <p class="comment_user_avatar center-align">
              <img src='/static/media/{{ comment.author.avatar}}'
                class="responsive-img"/>
            </p>
            {% endif %}
          </div>
          <div class="col s12 m10 l10 card-stacked comment-body">
            <div class="card-content comment_text">
              <p>{{ comment.text}}</p>
            </div>

            <div class="comment_extra">

            <div class="row">
              <div class="col s4 m4 l4">
              <div class="comment-bottom valign-wrapper">
                <div class="valign rating-comment valign-wrapper" comment="{{ comment.id }}">
                  <a href="#" class="rate-icon rate-up" rate="1">
                    <i class="small material-icons">
                      thumb_up</i></a>
                  <div class="rate-score valign">
                    <p>{% if comment.ratingcomment_set.get.rating %}
                      {{ comment.ratingcomment_set.get.rating|floatformat:2 }}
                    {% else %}
                      0
                    {% endif %}</p>
                  </div>
                  <a href="#" class="rate-icon rate-down" rate="0">
                    <i class="small material-icons">thumb_down
                    </i></a>
                </div>
                </div>
                </div>
                <div class="col s4 m4 l4">
                  <div class="valign comment-date">
                    {{ comment.created|date:"Y.m.j" }}
                    {{ comment.created|date:"H:i" }}
                  </div>
                </div>

                <div class="col s4 m4 l4">
                {% if post.author == comment.author %} Author! {% endif %}
                <div class="valign comment-rpl-btn">
                  <a href ="#" class="btn btn-small reply-btn">
                    <span>Ответить</span>
                  </a>
                </div>
                </div>
              </div>

              </div>
              </div>
              </div>

              </div>



      {% for level in structure.closed_levels %}
    </li></ul>
      {% endfor %}
  {% endfor %}

</ul>

{% endautoescape %}
