
  <script>processing = false;
  $(".pop-tabs").hide();
  </script>

{% if posts %}

    {% for post in posts %}

       <a href="{{ post.get_absolute_url }}" >
         <h4 class="post-title-dash text-center">{{ post.title }} </h4></a>
         <div class="pull-right">Category:
           <a href="
           /cat/{{ post.category.slug }}">
           {{post.category}}</a>
         </div>


      {% if post.post_image %}

        <img src="{{ post.post_image.url }}"
        class="post-thumb-small responsive-img" >

      {% endif %}

      <p class="post-description">{% autoescape off %}
        {{ post.description }}{% endautoescape %}</p>

    {% endfor %}

{% else %}

<p>
  No posts yet!
</p>

{% endif %}
