<h2 class="text-center">Привет, {{ request.user.username }}!</h2>

{% block content %}
<div id="one-col" style="display: none;"></div>

<div>
  <form action="{% url 'dashboard' %}" method="post"
   enctype="multipart/form-data">

    <div class="input-field">
      {{ form.username.label_tab }}
      {{ form.username }}
    </div>
    <div class="input-field">
      {{ form.email.label_tab }}
      {{ form.email }}
    </div>
    <div>
      <label for="avatar">Аватар </label>


      {% if request.user.avatar %}
      <p>
          <img src="{{ request.user.avatar.url }}"
          height="{{ request.user.avatar.height }}"
          id = "avatar">
      </p>
      {% endif %}
    </div>
    <div class="file-field input-field">
        <div class="btn">
          <span>Выбрать файл</span>
          <input id="id_avatar" name="avatar" type="file"
          onchange="Preview(this.files[0], 'avatar', 70)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>

    </div>

    {% csrf_token %}<br />
    <p>
      <input type="submit" value="Сохранить"
          class="waves-effect waves-light btn" />
    </p>
  </form>


</div>

{% endblock %}
