{% load thumbnail %}
<h2 class="text-center">Welcome {{ request.user.username }}!</h2>

{% block content %}

<div>
  <form action="{% url 'dashboard' %}" method="post"
   enctype="multipart/form-data">
    <!-- label[for="id_username"] { color: red } -->

    <div>
      <label for="username">Username</label>{{ form.username }}
    </div>
    <div>
    <label for="email">Email</label>{{ form.email }}
    </div>
    <div>
      <label for="avatar">Avatar </label>
      <p>

      {% if request.user.avatar %}
      {% thumbnail request.user.avatar "70x70" as im %}
          <img src="{{ im.url }}" height="{{ im.height }}"
          id = "avatar">
      {% endthumbnail %}
      </p>
      {% endif %}
    </div>
    <div>
      <input id="id_avatar" name="avatar" type="file"
      onchange="Preview(this.files[0], 'avatar', 70)">
    </div>

    {% csrf_token %}<br />
    <p>
      <input type="submit" value="Save" />
    </p>
  </form>
</div>

{% endblock %}
