{% load post_header %}
{% autoescape off %}

  <script>
    processing = false;
  </script>

{% if posts %}

{% for post in posts %}

  <div class="post z-depth-1">
    <a href="{{ post.get_absolute_url|escape }}" class="ajax-menu center-block
     post-title" single_page="" url="{{ post.get_url }}">
      <h2 class="center">
      {{ post.title }}</h2></a>

  {% post_header %}

    {% if post.main_image_srcset %}
    <div class="post-thumbnail center-align">

        {{ post.main_image_srcset }}

    </div>
    {% endif %}

    <div class="flow-text post-description">
    {% if post.description %}
      {{ post.description }}
    {% endif %}
    </div>


<div class="row post-footer">
  <div class="col s3 m3 l3 center">
    <div class="rating valign-wrapper" post={{ post.id }}>
      <div class="rate-score valign">
        <p>{% if post.rating %}
          {{ post.rating|floatformat:2 }}
        {% else %}
          0
        {% endif %}
        </p>
      </div>
    </div>

  </div>

  <div class="comments-count col s3 m3 l3 offset-m2 offset-l2 offset-s2 center">
    <i class="material-icons">comment</i>{{ post.get_comments_count }}
  </div>

  <div class="col s3 m3 l3 offset-m1 offset-l1 offset-s1">
    <div class="post-date right">
      {{ post.created|date:"Y.m.d" }}
      <br />
      {{ post.created|date:"H:i"}}
    </div>
  </div>

  </div>
</div>

{% empty %}
<div class="posts">
    <h3>You don't have posts yet...</h3>
</div>
{% endfor %}

{% endif %}

{% endautoescape %}
