{% extends "index.html" %}

{% block title %}My blog!{% endblock %}

{% block content %}
{% include "list_page.html" %}

{% endblock %}

{% block loader %}
<div id="more-loader" class="text-center" style="display: none">
          <img src="static/img/loader.gif" >
</div>
{% endblock %}

{% block javascript %}
<script>
var processing = false;
page = 1;
function loadMore(){
     $.ajax({
          cache: false,
          type:"GET",
          url:"?page="+page,
          success:function(data){
               $('.content').append(data); //adds data to the end of the table
               $('#more-loader').toggle()
               processing = false; // the processing variable prevents multiple ajax calls when scrolling
          }
     });
}
$(document).ready(function(){
     $(document).scroll( function() {
          if (processing){
              return false;
          }
          if ( $(document).scrollTop() > ( ($(document).height() - $(window).height())-300  )) {
              processing = true; //prevent multiple scrolls once first is hit
              if ( $( "#last_page" ).length == 0 ) {
                $('#more-loader').toggle()
                page += 1;
                loadMore();
                }
          }
     });
});
</script>
{% endblock javascript %}
