{% load post_header %}
{% load imagekit %}

{% autoescape off %}

{% if page == None %}

{% if category %}
<h1>List Posts from {{ category.name }}</h1>

  {% if category.description %}
  <p class="lead">
    Category description: {{ category.description }}
  </p>
  {% endif %}
  {% endif %}

  {% if tag %}
  <h1>List Posts from Tag: {{ tag.name }}</h1>
  {% endif %}

{% endif %}

{% for post in posts %}

  <div class="post">
    <a href="{{ post.get_absolute_url }}" class="center-block
     post-title">
      <h2 class="text-center center-block">
      {{ post.title }}</h2></a>

  {% post_header %}

    <div class="clearfix"></div>

    {% if post.post_image %}
    <div class="post-thumbnail">
        <!--<img src="{{ post.post_thumbnail.url }}"
        class ="img-responsive center-block"/> -->
        {% generateimage 'blog:thumbnail' source=post.post_image -- class="img-responsive center-block" %}
    </div>
    {% endif %}

    <div class="row">
    <div class="post-description col-md-8 col-md-offset-2">
    {% if post.description %}
      {{ post.description }}
    {% endif %}
    </div>
    </div>

    {% if not posts.has_next %}
    <p id="last_page"></p>
    {% endif %}

  </div>

{% empty %}
<div class="post">
    <h3>No posts in this category yet...</h3>
</div>

{% endfor %}

{% endautoescape %}
