{% extends "index.html" %}

{% block title %}My blog!{% endblock %}

{% block content %}
{% include "list_page.html" %}


<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<div id="more-loader" class="text-center">
          <img src="static/img/loader.gif" >
</div>


{% endblock %}

{% block javascript %}
<script>
var processing = false;
page = 1;
function loadMore(){
     $.ajax({
          cache: false,
          type:"GET",
          url:"?page="+page,
          success:function(data){
               //$('#text-loading').toggleClass('hidden',true); //hides the loading animation when ajax call returns tickets
               $('.content').append(data); //adds data to the end of the table
               processing = false; // the processing variable prevents multiple ajax calls when scrolling
          }
     });
}
$(document).ready(function(){
     $(document).scroll( function() {
          if (processing){
              return false;
          }
          if ( $(document).scrollTop() > ( ($(document).height() - $(window).height())-300  )) {
              processing = true; //prevent multiple scrolls once first is hit
              //$('#text-loading').toggleClass('hidden', false); //show the loading animation
              page += 1;
              loadMore();
          }
     });
});
</script>
{% endblock javascript %}
