{% load el_pagination_tags %}

{% paginate 3 posts %}
{% autoescape off %}

{% for post in posts %}

  <div class="post">
    <a href="{{ post.get_absolute_url }}"><h2 class="text-center">
      {{ post.title }}</h2></a>
    <div class="post_category pull-right">
      <a href="{{ request.scheme }}://{{ request.get_host }}/{{ post.get_category }}"
        class="post-category">
        Category: {{ post.category }}</a>
    </div>

    <div class="post-author pull-left">
      <div class="author-name">
        {{ post.author }}
      </div>
      <div class="author-avatar">
        {% if post.author.avatar %}
        {{ post.author.get_avatar }}
        {% else %}
        <img src="/static/img/avatar.jpg" class ="img-avatar"/>
        {% endif %}
      </div>
    </div>

    <div class="clearfix">

    </div>

    {% if post.post_image %}
    <div class="post-thumbnail">
        {{ post.get_image }}
    </div>
    {% endif %}
    {% if post.description %}
    <p class="post-description">
      {{ post.description }}
    </p>
    {% endif %}
  </div>

{% empty %}
<div class="post">
    <h3>No posts in this category yet...</h3>
</div>

{% endfor %}



<div class="more-loader text-center">
  {% show_more %}
</div>


{% endautoescape %}
