{% load post_header %}
{% load thumbnail %}

{% autoescape off %}

{% if page == None %}

{% if category %}
<h1>List Posts from {{ category.name }}</h1>

  {% if category.description %}
  <p class="lead">
    Category description: {{ category.description }}
  </p>
  {% endif %}
{% endif %}

{% if tag %}
  <h1>List Posts from Tag: {{ tag.name }}</h1>
  {% endif %}

{% endif %}

{% for post in posts %}

  <div class="post">
    <a href="{{ post.get_absolute_url|escape }}" class="center-block
     post-title">
      <h2 class="center-align">
      {{ post.title }}</h2></a>

  {% post_header %}


    {% if post.post_image %}
    <div class="post-thumbnail center-align">

    {% thumbnail post.post_image "640x480" as im %}
        {% if post.post_image_gif %}
        <a class="gif" href="#">
          <span class="play">&#9658;</span>
        </a>
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
        dataalt='/media/{{ post.post_image }}'
        class="responsive-img center-align gif">

        {% else %}

        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
        class="responsive-img center-align" >

        {% endif %}
    {% endthumbnail %}
    </div>
    {% endif %}

    <div class="row">
    <div class="flow-text post-description
      col s8 m8 l8 offset-s2 offset-m2 offset-l2">
    {% if post.description %}
      {{ post.description }}
    {% endif %}
    <div class="rating valign-wrapper" post={{ post.id }}>
      <a href="#" class="rate-icon" rate=1><i class="medium material-icons"
        >thumb_up</i></a>
      <div class="rate-score valign">
        <p>Rating= {{ post.ratingpost_set.get.rating }}</p>
        <p>Votes= {{ post.ratingpost_set.get.votes }}</p>
      </div>
      <a href="#" class="rate-icon" rate=0><i class="medium material-icons"
        >thumb_down</i></a>
    </div>
    </div>

    </div>

    {% if not posts.has_next %}
    <p id="last_page"></p>
    {% endif %}

  </div>

{% empty %}
<div class="post">
    <h3>No posts in this category yet...</h3>
</div>

{% endfor %}

{% endautoescape %}
