{% load el_pagination_tags %}

{% paginate 3 posts %}
{% autoescape off %}
{% for post in posts %}

  <div class="post">
    <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
    <div class="post_category">
      <a href="{{ request.scheme }}://{{ request.get_host }}/{{ post.get_category }}">
        {{ post.category }}</a>
    </div>
    {% if post.post_image %}
    <div class="thumbnail">
        {{ post.get_image }}
    </div>
    {% endif %}
    <p>
      {{ post.description }}
    </p>
  </div>

{% empty %}
<div class="post">
    <h3>No posts in this category yet...</h3>
</div>

{% endfor %}

{% show_more %}

{% endautoescape %}
