{% load post_header %}

{% autoescape off %}

{% if page == None %}

<script>processing = false;
$(".pop-tabs").show();
path = window.location.pathname.split('/');
link = $('a[href="/' + path[1] + '/' + path[2] + '"');
link.addClass('active').parent().addClass('active');
pop = path[3];
$("#" + pop).addClass('active').parent().addClass('active');
if ( $("a.menu.active[cat]").length ) {
  category = $("a.menu.active[cat]").attr("href");
} else {
  category = "";
}

</script>

{% if category %}
<h1>List Posts from {{ category }}</h1>
  {% if category.description %}
  <p class="lead">
    Category description: {{ category.description }}
  </p>
  {% endif %}
{% endif %}

    {% if tag %}
      <h1>List Posts from Tag: {{ tag.name }}</h1>
     {{ tag.description }}
    {% endif %}

{% endif %}

<div class="posts">
{% if not posts == None %}
{% for post in posts %}

  <div class="post">
    <a href="{{ post.get_absolute_url|escape }}" class="ajax-menu center-block
     post-title" single_page="" url="{{ post.get_url }}">
      <h2 class="center-align">
      {{ post.title }}</h2></a>

  {% post_header %}

    {% if post.post_image %}
    <div class="post-thumbnail center-align">

        {% if post.post_image_gif %}
        <a class="gif" href="#">
          <span class="play">&#9658;</span>
        </a>
        <img src="{{ post.post_thumbnail.url }}"
        width="{{ post.post_image.width }}"
        height="{{ post.post_image.height }}"
        dataalt='/media/{{ post.post_image }}'
        class="responsive-img center-align gif"
        >

        {% else %}

        {{ post.main_image_srcset }}

        {% endif %}


    </div>
    {% endif %}

    <div class="flow-text post-description">
    {% if post.description %}
      {{ post.description }}
    {% endif %}

    <div class="rating valign-wrapper" post={{ post.id }}>
      <a href="#" class="rate-icon rate-up" rate=1><i class="medium material-icons"
        >thumb_up</i></a>
      <div class="rate-score valign">
        <p>{% if post.ratingpost_set.get.rating %}
          {{ post.ratingpost_set.get.rating|floatformat:2 }}
        {% else %}
          0
        {% endif %}
        </p>
      </div>
      <a href="#" class="rate-icon rate-down" rate=0><i class="medium material-icons"
        >thumb_down</i></a>
    </div>

    </div>

    {% if not posts.has_next %}
    <p id="last_page"></p>
    {% endif %}

  </div>

{% empty %}
<div class="post">
    <h3>No posts in this category yet...</h3>
</div>

{% endfor %}
{% endif %}

</div>
{% endautoescape %}
