
{% autoescape off %}

{% for post in posts %}

{% if request.is_ajax %}<h1>AJAX!</h1>{% endif %}
{% if not posts.has_next %}<h2> Last page!</h2>{% endif %}

  <div class="post">
    <a href="{{ post.get_absolute_url }}"><h2 class="text-center">
      {{ post.title }}</h2></a>
    <div class="post_category pull-right">
      <p>
        Category: <a href="{{ request.scheme }}://{{ request.get_host }}/{{ post.get_category }}"
          class="post-category">
           {{ post.category }}</a>
      </p>
      {% if post.get_tags_list %}<p>
        Tags:
        {% for tag in post.get_tags_list %}
        <a href="/tag/{{ tag }}">{{ tag}}</a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
      {% endif %}
    </div>

    <div class="post-author pull-left">
      <div class="author-name">
        {{ post.author }}
      </div>
      <div class="author-avatar">
        {% if post.author.avatar %}
        {{ post.author.get_avatar }}
        {% else %}
        <img src="/static/img/avatar.jpg" class ="img-avatar"/>
        {% endif %}
      </div>
    </div>

    <div class="clearfix">

    </div>

    {% if post.post_image %}
    <div class="post-thumbnail">
        {{ post.get_image }}
    </div>
    {% endif %}
    {% if post.description %}
    <p class="post-description">
      {{ post.description }}
    </p>
    {% endif %}
  </div>

{% empty %}
<div class="post">
    <h3>No posts in this category yet...</h3>
</div>

{% endfor %}

{% endautoescape %}
