{% load cache %}
{% cache 3 sidebar request.user.is_anonymous request.path%}

{% autoescape off %}

<div class="sidebar-inner" cat={{category}}>
<h3>Best posts for 2 weeks</h3>
{% for gpost in good_posts %}

  <div class="post-sidebar z-depth-1">
    <a href="{{ gpost.get_absolute_url|escape }}" class="ajax-menu center-block"
    single_page="" url="{{ gpost.get_url }}">
      <h4 class="post-title-sidebar center">
      {{ gpost.title }}</h4></a>

    <div class="row valign-wrapper">
      <div class="col m5 l5 valign">
        {% if gpost.post_image %}
        <div class="post-thumbnail-small">
            {% if gpost.post_thumb_ext in "jpegjpggifbmppng" %}
                <img class="responsive-img post-image"
                src="/media/{{gpost.post_thumbnail}}" />
            {% elif gpost.post_thumb_ext in "webm" %}
                <video autoplay="" loop="" style="max-width: 150px;">
                 <source src="/media/{{gpost.post_thumbnail}}" type="video/webm">
                </video>
            {% endif %}

        </div>
        {% endif %}
    </div>
    <div class="col m7 l7 valign">
      {% if gpost.description %}
        <div>
          {{ gpost.description|truncatewords:25 }}
        </div>
      {% endif %}
    </div>

    </div>


<div class="row post-footer">
  <div class="col s3 m3 l3">

  </div>
    <div class="col s3 m3 l3 offset-m6 offset-l6 offset-s6">
      <div class="post-date right">
        {{ gpost.created|date:"Y.m.d" }}
        <br />
        {{ gpost.created|date:"H:i"}}
      </div>
    </div>

  </div>
</div>

{% empty %}
<div class="posts">
    <h3>No posts in this category yet...</h3>
</div>

</div>
{% endfor %}
{% endautoescape %}

{% endcache %}
