{% load cache %}
{% cache 3 sidebar request.user.is_anonymous request.path%}

{% autoescape off %}

<div class="sidebar-inner">
<h3>Best posts for 2 weeks</h3>
{% for post in good_posts %}

  <div class="post z-depth-1">
    <a href="{{ post.get_absolute_url|escape }}" class="ajax-menu center-block"
    single_page="" url="{{ post.get_url }}">
      <h4 class="post-title-sidebar center">
      {{ post.title }}</h4></a>

    <div class="row valign-wrapper">
      <div class="col m5 l5 valign">
        {% if post.post_thumbnail %}
        <div class="post-thumbnail-small">

            <img class="responsive-img post-image"
            src="/media/{{ post.post_thumbnail }}" />

        </div>
        {% endif %}
    </div>
    <div class="col m7 l7 valign">
      {% if post.description %}
        <div>
          {{ post.description|truncatewords:25 }}
        </div>
      {% endif %}
    </div>

    </div>


<div class="row post-footer">
  <div class="col s3 m3 l3">

  </div>
    <div class="col s3 m3 l3 offset-m6 offset-l6 offset-s6">
      <div class="post-date right">
        {{ post.created|date:"Y.m.d" }}
        <br />
        {{ post.created|date:"H:i"}}
      </div>
    </div>

  </div>
</div>

{% empty %}
<div class="posts">
    <h3>No posts in this category yet...</h3>
</div>

</div>
{% endfor %}
{% endautoescape %}

{% endcache %}
