{% extends "index.html" %}


{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<script>processing = true;</script>
{% autoescape off %}
<h1 class="text-center post-title">{{ post.title }}</h1>

<div class="post-author pull-left">
  <div class="author-name">
    {{ post.author }}
  </div>
  <div class="author-avatar">
    {% if post.author.avatar %}
    {{ post.author.get_avatar }}
    {% else %}
    <img src="/static/img/avatar.jpg" class ="img-avatar"/>
    {% endif %}
  </div>
</div>

<div class="post_category pull-right">
  <a href="{{ request.scheme }}://{{ request.get_host }}/{{ post.get_category }}"
    class="post-category">
    Category: {{ post.category }}</a>
</div>

<div class="clearfix"></div>

{% if post.post_image %}
<p class="post-image">
  <img src="{{ MEDIA_URL }}{{ post.post_image.url }}"
    class="img-responsive center-block post-image"></a>
</p>
{% endif %}

<div class="post-text">
  {{ post.text }}
</div>
{% endautoescape %}


<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" fullScreen= "true">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
{% endblock %}
