{% load post_header %}
{% load is_moderator %}
{% load cache %}

{% cache 60 single_moder request.path request.user|is_moderator:post.id %}

<script>processing = true;
wsConnect();
$(".pop-tabs").hide();
</script>

{% autoescape off %}
<h1 class="center-align post-title">{{ post.title }}</h1>

{% post_header %}

<div class="clearfix"></div>

{% if post.main_image_srcset %}
<p class="post-image center-align">
    {{ post.main_image_srcset }}
</p>
{% endif %}

{% if not request.user.is_anonymous %}
  {% if request.user|is_moderator:post.id %}
  <div>
    USER IS MODERATOR
  </div>
  {% endif %}
{% endif %}

<!-- <div class="row"> -->
  <div>
    {{ post.description }}
    {{ post.text }}
  </div>
<!--</div> -->

<div id="add_comment_placeholder"></div>
<form action="/add-comment/{{ post.id }}/0/" method='POST' id="comment-form-sample"
enctype="multipart/form-data" postid="{{ post.id }}"
style="display:none;">
{% csrf_token %}

{{ comment_form.text }}

<input type="submit" value="Add Comment"
 class="waves-effect waves-light btn add-comment"/>
</form>

<a href="#" class="btn btn-small reply-btn"
id = "def_form_place">
<span>Reply</span></a>

<div id="Comments_title">Comments</div>

<script>
Comments();
</script>

{% endautoescape %}


<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" fullScreen="true"
 preloadRange=1>
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{% endcache %}
