{% load post_header %}
{% load mptt_tags %}
<script>processing = true;</script>

{% autoescape off %}
<h1 class="center-align post-title">{{ post.title }}</h1>

{% post_header %}


<div class="clearfix"></div>

{% if post.post_image %}
<p class="post-image center-align">
  {% if post.post_image_gif %}
  <img src="{{ MEDIA_URL }}{{ post.post_image.url }}"
    class="responsive-img center-align post-image"></a>
  {% else %}
    {{ post.image_url }}
  {% endif %}

</p>
{% endif %}

<div class="post-text center-align">
  {{ post.description }}
  {{ post.text }}
</div>

  <ul class="comments">

    {% for comment, structure  in comments|tree_info %}

          <div class="card horizontal comment z-depth-2"
          style='
   margin-left:{% widthratio comment.level 1 25 %}px;'>
          <div class="row">
            <div class="col s12 m2 l2 comment_user">
              <p class="comment_username center-align">
                {{ comment.author.username}}
              </p>
              {% if comment.author.avatar %}
              <p class="comment_user_vatar center-align">
                <img src='/static/media/{{ comment.author.avatar}}'
                  class="responsive-img"/>
              </p>
              {% endif %}
            </div>
            <div class="col s12 m10 l10 card-stacked">
              <div class="card-content comment_text z-depth-1">
                <p>{{ comment.text}}</p>
              </div>
              <div class="card-action comment_extra z-depth-1">
                <hr />
                test
              </div>
            </div>
            </div>
            </div>

        {% for level in structure.closed_levels %}

        {% endfor %}
    {% endfor %}

</ul>

<div id="add_comment_title">Add a comment</div>
<form action="/add-comment/{{ post.id }}/" method='POST' enctype="multipart/form-data">
{% csrf_token %}

{{ comment_form.as_p }}

<input type="submit" value="Add Comment" class="waves-effect waves-light btn"/>
</form>



{% endautoescape %}


<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" fullScreen= "true">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
